nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10;
  background-color: gray;
  color: white;
}
.navlinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
